body {
  font-family: IBM Plex Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;  
}

.App {
  min-height: 100vh;
  width: 100vw;
  padding: 0;
}

.root{
  padding: 0;
}

.logo{
  width: 120.57px;
  height: 16px;
}

.createAcc {
  font-size: 12px;
}

.searchBar{
  width: 380px;
}

.head {
  height: 236px;
}

.headChildText1, .headChildText2 {
  left: 1.5rem;
}

.headChildText1 {
  bottom: 3.5rem;
}

.headChildText2 {
  bottom: 1.5rem;
}

.filterBtn{
  background-color: #F1F3F5;
}

.catLink {
  color: #8A8A8A;
  text-decoration: none;
}

.catLink:hover {
  color: #000;
}

.catLink::after {
  content: "";
  display: none;
  width: 100%;
  height: 2px;
  background-color: #000;
  margin-top: 20px;
}

.moreOptions {
  top: 20px;
  right: 30px;
}

.card .bottom {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 20px);
}

  .bottom .name {
    grid-column: 2 / 9;
  }

  .bottom .views {
    grid-row: 2;
    grid-column: 2/7;
  }

  .bottom .shareBtn {
    grid-row: 1/3;
    grid-column: 9/13;
  }

@media (min-width: 576px) {

  .createAcc {
    font-size: 14px;
  }

  .searchBar{
    width: 240px;
  }

  .head {
    height: 440px;
  }

  .headChildText1, .headChildText2 {
    left: 4.5rem;
  }
  
  .headChildText1 {
    bottom: 4.5rem;
  }
  
  .headChildText2 {
    bottom: 2.5rem;
  }

  .card{
    width: 692px;
    height: 472px;
  }

  .card {
    height: auto;
  }

    .bottom .views {
      grid-row: 1;
      grid-column: 10/13;
    }

    .bottom .shareBtn {
      grid-column: 12/13;
    }
  
}